.DS_Store
*.suo
*.user
*.cache
*.ncb
*.log
*.sdf
*.cachefile
*.orig
*.pidb
*.userprefs
*.resources
Scratch/**
packages/**
**/bin/iPhone/**
**/bin/iPhoneSimulator/**
**/bin/Release/**
**/bin/Debug/**
**/bin/Release/**
**/obj/**
